<div class="weather-header-bg">
  <div class="weather-header"></div>
  <div class="dashboard-content">
    <!-- Main dashboard -->
    <main class="dashboard-main">
      <div class="dashboard-row">
        <div class="dashboard-card highlight">
          <h5>PAIS SELECCIONADO</h5>
          <p>Mexico<br>Capital: Mexico City<br>Region: The Federal District<br>Latitud: 19.43 Longitud: -99.13</p>
        </div>
        <div class="dashboard-card highlight">
          <h5>CLIMA</h5>
          <div style="display:flex;align-items:center;">
            <span style="font-size:2rem;">🌤️</span>
            <div style="margin-left:10px;">
              <div>18°C</div>
              <div>Partly cloudy</div>
            </div>
          </div>
        </div>
        <div class="card highlight">
          <div class="card-header">
            <h5>PAISES DISPONIBLES</h5>
          </div>
          <div class="card-body">
            <ul class="no-bullets">
              <li *ngFor="let country of countryList" (click)="selectCountry(country.addressIp)" class="cursor-pointer">
                <span [ngClass]="'fi fi-' + country.flag_code +' mx-4' " ></span>
                {{ country.name }}
              </li>
            </ul>
          </div>


        </div>
      </div>
      <div class="dashboard-row">
        <div class="dashboard-card">
          <h5>Otras tareas</h5>
          <ul class="task-list">
            <li>Realizar documentación en swagger</li>
            <li>Tomar curso React</li>
            <li>Estudiar SpringBoot</li>
          </ul>
        </div>
        <div class="dashboard-card">
          <h5>Zonas horarias disponibles</h5>
          <ul>
            <li>America/Mexico_City</li>
            <li>America/Tijuana</li>
            <li>America/Merida</li>
            <li>America/Cancun</li>
            <li>America/Monterrey</li>
            <li>America/Chihuahua</li>
            <li>America/Matamoros</li>
          </ul>
        </div>
        <div class="dashboard-card">
          <h5>Hora</h5>
          <div>11/1/2021, 7:56:47 PM<br>America/Mexico_City</div>
        </div>
      </div>
    </main>
  </div>
</div>