<div class="weather-header-bg">
  <div class="weather-header"></div>
  <div class="dashboard-content">

    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-4">
          <div class="card">
            <div class="card-header d-flex align-items-center">
              <h5 class="m-0">PAIS SELECCIONADO</h5>
            </div>
            <div class="card-body">
              <p *ngIf="dataCountry">{{dataCountry.location.country}}<br>Capital:
                {{dataCountry.location.name}}<br>Region:
                {{dataCountry.location.region}}<br>Latitud: {{dataCountry.location.lat}} Longitud:
                {{dataCountry.location.lon}}</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card">
            <div class="card-header d-flex align-items-center">
              <h5 class="m-0">CLIMA</h5>
            </div>
            <div class="card-body">
              <div style="display:flex;align-items:center;">
                <img *ngIf="dataCountry" [src]="dataCountry.current.condition.icon" alt="Weather Icon"
                  style="width:50px;height:50px;">
                <div style="margin-left:10px;">
                  <div *ngIf="dataCountry">{{dataCountry.current.temp_c}}°C</div>
                  <div *ngIf="dataCountry">{{dataCountry.current.condition.text}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-lg-4">
          <div class="card">
            <div class="card-header d-flex align-items-center">
              <h5 class="m-0">PAISES DISPONIBLES</h5>
            </div>
            <div class="card-body">
              <ul class="no-bullets">
                <li *ngFor="let country of countryList" (click)="selectCountry(country.addressIp)"
                  class="cursor-pointer">
                  <span [ngClass]="'fi fi-' + country.flag_code +' mx-4' "></span>
                  {{ country.name }}
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>

      <div class="row mt-3">
        <div class="col-lg-4">
          <div class="card">
            <div class="card-header d-flex align-items-center">
              <h5 class="m-0">Otras tareas</h5>
            </div>
            <div class="card-body">
              <ul class="task-list">
                <li *ngFor="let task of taskList">{{ task.description }}</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card">
            <div class="card-header d-flex align-items-center">
              <h5 class="m-0">Zonas horarias disponibles</h5>
            </div>
            <div class="card-body">
              <div *ngIf="dataCountry">
                {{dataCountry.location.tz_id}}
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-4">
          <div class="card">
            <div class="card-header d-flex align-items-center">
              <h5 class="m-0">Hora</h5>
            </div>
            <div class="card-body text-center">
              <div *ngIf="dataCountry">
                {{ currentTime }}<br />
                {{ dataCountry.location.tz_id }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>